@keyframes logoAnimation {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: logoAnimation 5s forwards;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: column;
}

.nav_item a:visited {
    color: blue;
}

.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
}

.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img{
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 900px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .card{
        flex-basis: 275px;
    }

    body > header{
        position: sticky;
        top: 0;
        z-index: 100;
    }
}

@media all and (prefers-reduced-motion: reduce){
    #logo {
        animation: none;
    }
}

@media print{
    body{
        font-family: Arial, Helvetica;
        background-image: none;
    }

    header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    nav{
        width: 100%;
    }

    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* .nav_item{
        margin: 0px 81px;
    } */

    .pricing{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin: 0 0 50px 0;
    }

    .card{
        flex-basis: 325px;
        border: 2px solid #45ADDD;
    }

    #gallery, 
    .gallery{
        display: none;
    }

    .card li:nth-child(2)::after {
        content: "👍";
    }
}